{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["eslint-plugin-react"],
  "rules": {
    "space-before-function-paren": "off",
    "indent": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
